/*
* {
    -fx-font-size: 14px;
}

#menu-bar {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: gainsboro;
}

.menu {
    -fx-padding: 3px 10px;
}

#pencil, #move, #swap, #rect-lasso, #lasso, #hand{
    -fx-fill: forestgreen;
    -fx-font-size: 16px;
}

#undo, #redo {
    -fx-fill: #0b7bff;
    -fx-font-size: 16px;
}

#tool-bar {
    -fx-padding: 5px;
    -fx-border-width: 0px;
}

.button {
    -fx-background-color: null;
    -fx-padding: 3px 10px;
    -fx-margin: 0px;
}

.button:hover {
    -fx-background-color: gainsboro;
}

.button:pressed {
    -fx-background-color: #c0c0c0;
}

.text-field {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: silver;
    -fx-border-radius: 5px;
}*/