/* MenuBar */
.menu-bar {
    -fx-background-color: whitesmoke;
}

.split-pane .split-pane-divider {
    -fx-pref-width: 2.5;
    -fx-pref-height: 2.5;
}

/* ToolBar */
.tool-bar {
    -fx-background-color: whitesmoke;
}

.tool-bar .tool .radio {
    -fx-border-width: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    visibility: hidden;
}

.tool-bar .tool .dot {
    visibility: hidden;
}
.tool-bar .tool:selected {
    -fx-border-color: deepskyblue;
}

.tool-bar .tool:hover {
    -fx-background-color: lightgray;
}

.tool-bar .actionable-button {
    -fx-background-color: whitesmoke;
    -fx-border-width: 0px;
}

.tool-bar .actionable-button:hover {
    -fx-background-color: lightgray;
}

.tool-bar .actionable-radio-button {
    -fx-content-display: center;
}

.font-icon {
    -fx-fill: #111;
}


/* レイヤー */

.layer-cell {
    -fx-background-color: #fafafa;
    -fx-border-color: #fafafa #fafafa gainsboro #fafafa;
    -fx-border-width: 1px 1px 1px 1px;
}

.layer-cell:selected {
    -fx-border-color: deepskyblue;
    -fx-background-color: white;
}

.layer .placeholder {
    -fx-background-color: whitesmoke;
}

/* Canvas */
#canvas-pane {
    -fx-background-color: #eee;
}

/* StatusBar */
.status-bar {
    -fx-background-color: whitesmoke;
}